[Unit]
Description=BBox Player
Wants=default.target
After=default.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/bin/bash /home/pi/bbox/start.sh
WorkingDirectory=/home/pi/bbox
StandardOutput=syslog
StandardError=syslog
Restart=on-abort

[Install]
WantedBy=default.target
